body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-direction: column;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F0F0F0;
    height: 35px;
    padding: 10px 0;
    padding-left: 50px;
    border-bottom: 2px solid #E0E0E0;
}

.nav-button.active {
    border-left: none;
    border-top: 4px solid #58fafa;
    background-color: #c7ebf9;
    font-weight: bold;
    width: 100%;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

aside {

    width: 100%;
    height: fit-content;
    border-right: none;
    border-bottom: 2px solid #E0E0E0;
}

main {
    display: flex;
    flex: 1;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 0;
    margin: 0;
}

li {
    width: 100%;
    padding: 25px 0;
    text-align: center;
    border-bottom: 1px solid #E0E0E0;
}

li:hover {
    background-color: #edf9fd;
    cursor: pointer;
}

.content {
    display: none;
}

.content.active {
    display: flex;
    flex-direction: column;
    width: 100%;
}

section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
    padding: 0 50px;
}


.label {
    display: flex;
    align-items: baseline;
    gap: 25px;
    border-bottom: 2px solid #E0E0E0;
    max-width: 800px;
}

.label h2 {
    margin: 0;
    font-size: 34px;
    line-height: 1;
    color: #1a1a1a;
}

.label p {
    line-height: 1;
    margin: 0;
    font-size: 16px;
    color: #555555;
}

.datas {
    display: flex;
    width: 100%;
    justify-content: center;
}

fieldset {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 5px 15px;
    border-radius: 8px;
    border: 2px solid #E0E0E0;
    width: fit-content;
    gap: 30px;
    background-color: #ffffff;
    box-sizing: border-box;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

legend {
    padding: 0 10px;
    font-size: 14px;
    font-weight: bold;
    color: #36A2EB;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 0 auto;
}

.graphs {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 30px;
    gap: 70px;
    box-sizing: border-box;
}

.chart-container {
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
    padding-bottom: 10px;
}


.chart-scroll-area {
    width: 100%;
    height: 350px;
}


.temp canvas,
.humidity canvas {
    max-height: 400px;
}

canvas {
    width: 100% !important;
    max-height: 300px;
}

.live-teplota,
.live-vlhkost,
.prumer-teplota,
.prumer-vlhkost {
    margin: 0;
    font-size: 22px;
    color: #333;
    font-weight: 600;
}

@media screen and (max-width: 800px) {

    header,
    section {
        padding: 0 15px;
    }

    h1 {
        font-size: 24px;
    }

    section {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
    }

    .label {
        flex-direction: column;
        align-items: flex-start;
        gap: 5px;
    }

    li {
        padding: 15px 0;
        font-size: 14px;
    }

    .graphs {
        padding: 20px 15px;
        gap: 30px;
    }

    .live-teplota,
    .live-vlhkost,
    .prumer-teplota,
    .prumer-vlhkost {
        font-size: 18px;
    }

    .label h2 {
        font-size: 24px;
    }

    .label p {
        font-size: 14px;
    }

    .chart-scroll-area {
        min-width: 600px;
        height: 400px;
    }
}

@media screen and (max-width: 450px) {

    fieldset {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .live-teplota,
    .live-vlhkost,
    .prumer-teplota,
    .prumer-vlhkost {
        font-size: 14px;
    }

}